<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="navigation">
        <ul>
            <li><a th:href="@{/patient}">Pacjenci</a></li>
            <li><a th:href="@{/patient/add}">Dodaj pacjenta</a></li>
            <li><a th:href="@{/facility/add}">Dodaj placówkę</a></li>
            <li><a th:href="@{/facility}">Placówki</a></li>
            <li><a th:href="@{/vaccination}">Zaplanuj szczepienie</a></li>
            <li><a th:href="@{/login}">Zaloguj się</a></li>
            <li>
                <form id="logout" method="post" th:action="@{/logout}">
                    <a href="#" onclick="document.getElementById('logout').submit()">Wyloguj się</a>
                </form>
            </li>
        </ul>
    </div>

    <div th:fragment="footer">
        <h3>Aplikacja stworzona w ramach kursu SDA, 2021</h3>
    </div>
</body>
</html>