<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Vaccintation</title>
</head>
<body>
    Dodaj pacjenta <br>

    <form th:action="@{/patient}" th:object="${newPatient}" method="post">
        Imię : <input th:field="*{firstName}"/><br>
        Nazwisko : <input th:field="*{lastName}"/><br>
        Data urodzenia : <input type="date" th:field="*{birthDate}"/><br>
        PESEL : <input th:field="*{pesel}"/><br>

        <input type="submit" value="Zapisz"/>
    </form>
</body>
</html>