<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vaccintation</title>
    <link th:href="@{/style/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/utils.html :: navigation"></div>

<div th:if="${patients != null and !patients.isEmpty()}">
    <table>
        <thead>
        <tr>
            <td>Lp.</td>
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>PESEL</td>
            <td>Zaplanowane szczepienie</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient, iterator : ${patients}" th:class="${iterator.odd ? 'odd' : 'even'}"
            th:include="fragments/patientsTable.html :: patientRow(patient, iterator)">
        </tr>
        </tbody>
    </table>
</div>

<!--<div th:if="${patients == null or patients.isEmpty()}">-->
<div th:unless="${patients != null and !patients.isEmpty()}">
    <h2>Brak zarejestrowanych pacjentów</h2>
    <p><a th:href="@{/patient/add}">Dodaj pacjenta</a></p>
</div>
<div th:replace="fragments/utils.html :: footer"></div>

</body>
</html>